# Auto detect text files and perform LF normalization
* text=auto
Client.pdb filter=lfs diff=lfs merge=lfs -text
Client.pch filter=lfs diff=lfs merge=lfs -text
Engine_debug.pch filter=lfs diff=lfs merge=lfs -text
Engine.pch filter=lfs diff=lfs merge=lfs -text
Script_Debug.pch filter=lfs diff=lfs merge=lfs -text
Script.pch filter=lfs diff=lfs merge=lfs -text
libfbxsdk-md.lib filter=lfs diff=lfs merge=lfs -text
